@import url("fonts.css");
@import url("letters.css");

#typer-text {
  font-size: 2rem;
}

#typing-text {
  width: 99%;
}

body {
  display: flex;
  flex-direction: column;
  width: 100vw;
  align-items: center;
  font-family: "roboto";
}

#letters-box {
  background-color: hsl(220 80% 90%);
  padding: 15px;
  border-radius: 20px;
  box-shadow:
    0 10px 15px -3px rgb(0 0 0 / 0.1),
    0 4px 6px -4px rgb(0 0 0 / 0.1);
  margin-top: 4rem;
}

#letter-hit {
  color: green;
}

#letter-miss {
  color: red;
}

#center-div {
  background-color: hsl(220 80% 90%);
  padding: 15px;
  border-radius: 20px;
  box-shadow:
    0 10px 15px -3px rgb(0 0 0 / 0.1),
    0 4px 6px -4px rgb(0 0 0 / 0.1);
  margin-top: 4rem;
}

button {
  background-color: #ffffff;
  border: 1px solid #222222;
  border-radius: 8px;
  box-sizing: border-box;
  color: #222222;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  margin: 0;
  outline: none;
  padding: 13px 23px;
  position: relative;
  text-align: center;
  text-decoration: none;
  touch-action: manipulation;
  transition:
    box-shadow 0.2s,
    -ms-transform 0.1s,
    -webkit-transform 0.1s,
    transform 0.1s;
  user-select: none;
  -webkit-user-select: none;
  width: auto;
}

button:focus-visible {
  box-shadow:
    #222222 0 0 0 2px,
    rgba(255, 255, 255, 0.8) 0 0 0 4px;
  transition: box-shadow 0.2s;
}

button:active {
  background-color: #f7f7f7;
  border-color: #000000;
  transform: scale(0.96);
}

button:disabled {
  border-color: #dddddd;
  color: #dddddd;
  cursor: not-allowed;
  opacity: 1;
}

input {
  border: none;
  border-bottom: 1px solid #ccc;
  padding: 8px 0;
  font-size: 16px;
  width: 100%;
}

input:focus + label,
input:not(:placeholder-shown) + label {
  top: -20px;
  font-size: 12px;
  color: #000;
}
