@import url("fonts.css");
@import url("letters.css");

#typer-text {
  font-size: 2rem;
}

#typing-text {
  width: 99%;
}

#game-score-table {
  color: white;
}

body {
  display: flex;
  flex-direction: column;
  width: 100vw;
  align-items: center;
  font-family: "roboto";

  background-color: hsla(240, 45%, 42%, 1);
  background-image: radial-gradient(
      at 40% 20%,
      hsla(247, 77%, 11%, 1) 0px,
      transparent 50%
    ),
    radial-gradient(at 80% 0%, hsla(239, 41%, 24%, 1) 0px, transparent 50%),
    radial-gradient(at 0% 50%, hsla(231, 24%, 19%, 1) 0px, transparent 50%),
    radial-gradient(at 81% 54%, hsla(247, 32%, 18%, 1) 0px, transparent 50%),
    radial-gradient(at 0% 100%, hsla(247, 50%, 22%, 1) 0px, transparent 50%),
    radial-gradient(at 80% 100%, hsla(240, 53%, 15%, 1) 0px, transparent 50%),
    radial-gradient(at 0% 0%, hsla(247, 56%, 18%, 1) 0px, transparent 50%);
  background-attachment: fixed;
  overflow-x: hidden;
}

#letters-box {
  background-color: hsl(224 33% 32%);
  padding: 15px;
  border-radius: 20px;
  box-shadow:
    0 10px 15px -3px rgb(0 0 0 / 0.1),
    0 4px 6px -4px rgb(0 0 0 / 0.1);
  margin-top: 4rem;
}

/* empty style when whitespace is hit, don't change */
#letter-whitespace-hit {
}

#letter-whitespace-miss {
  background-color: red;
  padding-left: 4px;
  padding-right: 4px;
}

.current-letter-hit {
  border-right: 2px solid green;
}

.current-letter-miss {
  border-left: 2px solid green;
}

#letter-hit {
  color: green;
}

#letter-miss {
  color: red;
}

#center-div {
  background-color: hsl(220 80% 90%);
  padding: 15px;
  border-radius: 20px;
  box-shadow:
    0 10px 15px -3px rgb(0 0 0 / 0.1),
    0 4px 6px -4px rgb(0 0 0 / 0.1);
  margin-top: 4rem;
}

button {
  background-color: hsl(167 33% 32%);
  border: 1px solid #222222;
  border-radius: 8px;
  box-sizing: border-box;
  color: #222222;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  margin: 0;
  outline: none;
  padding: 13px 23px;
  position: relative;
  text-align: center;
  text-decoration: none;
  touch-action: manipulation;
  transition:
    -ms-transform 0.1s,
    -webkit-transform 0.1s,
    transform 0.1s;
  user-select: none;
  -webkit-user-select: none;
  width: auto;
}

#index-body > * {
  margin-top: 1rem;
}

a {
  color: green;
}
